asgiref==3.9.1
crispy-bootstrap4==2025.6
Django==5.2.6
django-ckeditor==6.7.3
django-cleanup==9.0.0
django-crispy-forms==2.4
django-js-asset==3.1.2
pillow==11.3.0
sqlparse==0.5.3
typing_extensions==4.15.0
