{% load static %}

<!DOCTYPE html>
<html lang="en-us">

<head>
   <meta charset="utf-8">
   <title> {% block title %} {% endblock title %} </title>

   <!-- mobile responsive meta -->
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
   <meta name="description" content="This is meta description">
   <meta name="author" content="Themefisher">

   <!-- plugins -->
   <link rel="preload" href="https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFWJ0bbck.woff2"
      style="font-display: optional;">
   <link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrap.min.css' %}">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:600%7cOpen&#43;Sans&amp;display=swap"
      media="screen">

   <link rel="stylesheet" href="{% static 'plugins/themify-icons/themify-icons.css' %}">
   <link rel="stylesheet" href="{% static 'plugins/slick/slick.css' %}">

   <!-- Main Stylesheet -->
   <link rel="stylesheet" href="{% static 'css/style.css' %}">

   <!--Favicon-->
   <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
   <link rel="icon" href="images/favicon.png" type="image/x-icon">

   <!-- Lightbox  -->
   <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/css/lightbox.min.css" rel="stylesheet">
   <!-- Fonts  -->
   <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">

</head>

<body>
   <!-- navigation -->
   <header class="sticky-top bg-white border-bottom border-default">
      <div class="container">

         <nav class="navbar navbar-expand-lg navbar-white">
            <a class="navbar-brand" href="{% url 'home' %}">
               <img class="img-fluid" width="150px" src="{% static 'images/logo.png' %}" alt="LogBook">
            </a>
            <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation">
               <i class="ti-menu"></i>
            </button>

            <div class="collapse navbar-collapse text-center" id="navigation">
               <ul class="navbar-nav ml-auto">

                  <li class="nav-item dropdown">
                     <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">{{user.username}} Profile<i class="ti-angle-down ml-1"></i>
                     </a>
                     <div class="dropdown-menu">
                        {% if user.is_authenticated %}
                        <a class="dropdown-item"  href="{% url 'profile' user.username %}">{{user.username}}</a>
                        <a class="dropdown-item"  href="{% url 'logout' %}">Logout</a>
                        {% else %}
                        <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                        <a class="dropdown-item" href="{% url 'register' %}">Register</a>
                        {% endif %}
                     </div>
                  </li>
               </ul>

               <!-- search -->
               <div class="search px-4">
                  <button id="searchOpen" class="search-btn"><i class="ti-search"></i></button>
                  <div class="search-wrapper">
                     <form method="get" action="{% url 'search' %}" class="h-100">
                        <input class="search-box pl-4" id="search-query" name="q" type="search"
                           placeholder="Type &amp; Hit Enter...">
                     </form>
                     <button id="searchClose" class="search-close">
                        <i class="ti-close text-dark"></i>
                     </button>
                  </div>
               </div>
            </div>
         </nav>
      </div>
   </header>
   <!-- /navigation -->

   {% block content %}

   {% endblock content %}


{% block footer %}
   
{% endblock footer %}
   


   <!-- JS Plugins -->
   <script src="{% static 'plugins/jQuery/jquery.min.js' %}"></script>
   <script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}" async></script>
   <script src="{% static 'plugins/slick/slick.min.js' %}"></script>

   <!-- lishtbox JS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/js/lightbox.min.js"></script>

   <!-- Main Script -->
   <script src="{% static 'js/script.js' %}"></script>
</body>

</html>