{% extends 'base/base.html' %}
{% load static %}
{% load custom_filters %}



{% block title %}
Home | Blog System
{% endblock title %}



{% block content %}

<section class="section">
    <div class="container p-4"> <!-- container যোগ করো -->
        <div class="row">
         
            <!-- Main Content -->
            <div class="col-lg-8 mb-5 mb-lg-0">
                <h2>   total blogs: {{ total_blogs }}</h2>
                {% for blog in blogs %}
                <article class="row p-3 mb-4 blog-card">
                    <div class="col-md-12">
                        <h3 class="h3"><a class="post-title" href="{{ blog.get_absolute_url }}">{{ blog.title }}</a>
                        </h3>
                        <ul class="list-inline post-meta mb-2">
                            <li class="list-inline-item"><i class="ti-user mr-2"></i>
                                <a href="{% url 'profile' blog.author.username %}">
                                    {{ blog.author.get_full_name|default:blog.author.username }}
                                </a>
                            </li>
                            <li class="list-inline-item">Date: {{ blog.created_date|date:"F d, Y" }}</li>
                            <li class="list-inline-item">
                                Category: <a href="{% url 'category-blogs' blog.category.slug %}" class="ml-1">
                                    {{blog.category.title }}</a>
                            </li>
                            <li class="list-inline-item">
                                Tags:
                                {% for tag in blog.tags.all %}
                                <a href="{% url 'tag-blogs' tag.slug %}" class="mr-1">
                                    {{ tag.title}}
                                </a>
                                {% empty %}
                                No tags
                                {% endfor %}
                            </li>
                        </ul>

                        <p>{{ blog.content|truncatechars_html:200|safe }}</p>

                        <a href="{{ blog.get_absolute_url }}" class="btn btn-outline-primary">
                            Continue Reading
                        </a>
                    </div>
                </article>
                {% endfor %}
                <!-- Pagination -->
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                        <li class="page-item active">
                            <span class="page-link">{{ num }}</span>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>


            <!-- Sidebar -->
            <!-- Sidebar -->
            <div class="col-lg-4">
                <aside class="fixed-sidebar ">
                    {% include 'base/sideber.html' %}
                </aside>
            </div>

        </div>
    </div>
</section>

{% endblock content %}



{% block footer %}
{% include 'base/footer.html' %}
{% endblock footer %}