{% extends 'base/base.html' %}
{% load static %}

{% block title %}{{ profile_user.user.username }} | Profile{% endblock %}

{% block content %}
<div class="container p-4">
    <div class="main-body">
        <div class="row gutters-sm">
            <!-- Left column -->
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            {% if profile_user.profile_picture %}
                            <img src="{{ profile_user.profile_picture.url }}" alt="{{ profile_user.user.username }}"
                                class="rounded-circle" width="150">
                            {% else %}
                            <img src="{% static 'default-profile.png' %}" alt="{{ profile_user.user.username }}"
                                class="rounded-circle" width="150">
                            {% endif %}
                            <div class="mt-3">
                                {% if profile_user.user.first_name and profile_user.user.last_name %}

                                <h4> {{ profile_user.user.first_name }} {{profile_user.user.last_name}}</h4>
                                {% else %}
                                <h4>{{ profile_user.user.username }}</h4>

                                {% endif %}

                                <p class="text-secondary mb-1">{{ profile_user.bio|default:"No bio available" }}</p>
                                <p class="text-muted font-size-sm">{{ profile_user.location|default:"Unknown Location"}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right column -->
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Username</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">{{ profile_user.user.username }}</div>
                        </div>
                        <hr>
                        {% if profile_user.user.first_name and profile_user.user.last_name %}

                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Full Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">{{ profile_user.user.first_name }} {{profile_user.user.last_name }}</div>
                        </div>
                        <hr>

                        {% endif %}
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">{{ profile_user.user.email }}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Joined</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">{{ profile_user.user.date_joined|date:"F d, Y" }}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- User Blogs -->
                <div class="card">
                    <div class="card-body">
                        <h6 class="d-flex align-items-center mb-3">Blogs by {{ profile_user.user.username }}</h6>
                        <ul>
                            {% for blog in user_blogs %}
                            <li><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></li>
                            {% empty %}
                            <li>No blogs yet.</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}